<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Services</h2>
                    <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">High-End Cyber Security Training</h4>
                    <p class="text-muted">Standard and Custom training courses in Hardware Hacking, Reverse Engineering and Vulnerability Research are available. All courses are taught by us in person or online. Courses focus on REAL vulnerabilities and exploits and place a heavy emphasis on practice rather than theory.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Security</h4>
                    <p class="text-muted">Our team has extensive experience in security hardware and software products for SME and large international firms. We perform a top-down analysis, with or without source code, and help you secure your product.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Reverse Engineering</h4>
                    <p class="text-muted">We provide custom reverse engineering services to a variety of clients. Our advanced techniques allow us to reverse engineer algorithms, protocols, encryption schemes, etc, in a short amount of time.</p>
                </div>
            </div>
        </div>
    </section>
